.title {
	color: rgb(35, 160, 216);
	font-size: 18px;
	margin-left:-120px;
}

.navLeft {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.75), 0 0 1px rgba(164, 164, 164, 1)
		inset;
	width: 200px;
	height: 400px;
	margin: 30px 30px 0 -120px;
	line-height: 45px;
	padding-left: 25px;
	float: left;
}
.tableSummary{
	height:100px;
	border:0;
}
.tableSummary tr td{
	border-bottom: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
	width:234px;
}
.level1,.level2,.level3{
	text-align: center;
}
.level1{
	color:#2d2d2d;
}
.level2{
	color:rgb(35, 160, 216);
}
.level3{
	color:#9c9c9c;
}

#navigate {
	clear: both;
	height: 100px;
	width: 310px;
	float: right;
}

#navigate ul li {
	padding: 10px 220px 2px 1px;
	font-size: 18px;
	color: rgb(246, 252, 253);
	float: left;
	display: inline-block;
}

#navigate ul li a {
	font-size: 12px;
	color: rgb(102, 102, 102);
	text-decoration: none;
	float: right;
	margin-right: -190px;
}