#dashcontent,#sentimentcontent {
	margin: 0 -120px 0 -120px;
	overflow-y: auto !important;
	*overflow-y: scroll;
}

#socialTitle {
	color: rgb(35, 160, 216);
	font-size: 18px;
}

ul li {
	display: inline-block;
}

.cycleNav {
	float: left;
	font-size: 12px;
	color: rgb(253, 253, 254);
	height: 30px;
	line-height: 30px;
	margin-top: -10px;
	margin-left: -120px;
}

.socialTable,.sentimentTable {
	font-size: 13px;
	color: rgb(83, 83, 85);
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

.socialTable tr,.sentimentTable tr {
	background-color: #E6ECFF;
	height: 35px;
}

.socialChart ul li,#chart1,#chart2,#chart3,#chart4,#chart5,#chart6,#chart7,#chart8,#chart9,#chart10,#chart11,#chart12,#chart13,#chart14
	{
	width: 613px;
	float:left;
}
.cycleNav ul li{
	background-image: url(../image/setting_bg.png);
	width: 32px;
	height: 25px;
	margin-left: 2px;
	cursor: pointer;
	display:inline-block;
}
.tableTitle {
	background: url(../image/chart_title_bg.png);
	width: 576px;
	height: 35px;
}

.socialTable tr:not(:first-child){
	cursor: pointer;
}

.eyeBg {
	background: url(../image/eye_bg.png);
	width: 39px;
	height: 26px;
	float: right;
	line-height: 25px;
}

.browserBg {
	background: url(../image/browser_bg.png);
	width: 39px;
	height: 26px;
	float: left;
	line-height: 32px;
}

.eyePic {
	margin-top: 8px;
}

.browserPic {
	margin-top: 5px;
}

.attention {
	color: #23A0D8;
}

.socialTitle {
	color: #23A0D8;
	font-size: 16px;
	margin-top: 30px;
}

#overview {
	height: 44px;
	line-height: 44px;
}

.overview {
	background-image: url(../image/overview_bg1.png);
}

.overview1 {
	background-image: url(../image/overview2.png);
}

#date {
	margin-left: 90px;
	color: black;
}

#area {
	margin-left: 20px;
}

#socialTitle span,#date,#area,.browserBg {
	cursor: pointer;
}

#chatNav {
	margin-top: 13px;
}

.chartTitle {
	background-image: url(../image/chart_title_bg.png);
	width: 613px;
	height: 36px;
	line-height: 36px;
	font-size: 17px;
	color: rgb(25, 24, 24);
}

.chartContent {
	background-color: rgb(255, 255, 255);
	width: 613px;
	height: 270px;
}

.socialChart ul {
	margin-left: -50px;
}

.socialChart {
	margin-top: -20px;
}

.socialChart ul li {
	padding: 10px 0 0 10px;
}

.chartSetting {
	margin: -25px 10px 0 0;
	float: right;
}

.chartSetting span,.chartTitle span {
	margin-left: 10px;
}

.chartbg {
	background-image: url(../image/chartbg.png);
	width: 1240px;
	height: 44px;
	font-size: 18px;
	color: rgb(35, 160, 216);
	line-height: 44px;
}

#tag {
	position: absolute;
	width: 500px;
	height: 250px;
}

#tag a {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 6px;
}

#tag a:hover {
	border: 1px solid #eee;
	background: #000;
}

#tag .blue {
	color: blue;
}

#tag .red {
	color: red;
}

#tag .yellow {
	color: yellow;
}

#tag .green {
	color: green;
}

#tag .black {
	color: black;
}

#tag .blue1 {
	color: #07b2bd;
}

#tag .orange {
	color: orange;
}

#areaView,#samsungData {
	display: none;
}
.trActive{
	color:orange;
}