#headerBg {
	background-image: url(../image/headbg.png);
}

#headerBg {
	position: relative;
	padding: 10px 0 10px 40px;
	z-index: 2;
	overflow: hidden;
	min-width: 1200px;
}

#header {
	position: relative;
	padding-left: 15px;
	margin: 0 auto;
	overflow: hidden;
}

#headerTitles {
	position: relative;
	float: left;
	display: inline-block;
}

h1 {
	font-weight: 300;
	font-size: 18pt;
	color: rgb(134, 130, 126);
}

#nav {
	z-index: 1;
	float: left;
	margin-left: 60px;
	vertical-align: middle;
}

.navItem {
	height: 65px;
	width: 65px;
	background-color: #898887;
	color: white;
	font-size: 14px;
	text-align: center;
	border: 1px solid #666;
	text-decoration: none;
}

.navItem:hover {
	background-color: #babbbb;
}

.navActive {
	background-color: #F90;
	-moz-box-shadow: 0 0 2px #fff;
	-webkit-box-shadow: 0 0 2px white;
	box-shadow: 0 0 2px white;
}

.navActive:hover {
	background-color: #F60;
}

.navItem {
	padding: 0;
	margin: 0;
	display: inline-block;
	z-index: 6;
	-webkit-transition: background 100ms ease-in;
	-moz-transition: background 100ms ease-in;
	-o-transition: background 100ms ease-in;
	-ms-transition: background 100ms ease-in;
	transition: background 100ms ease-in;
}

.navItem img {
	margin: 10px 10px 3px 10px;
	height: 32px;
}

#userInfor {
	color: rgb(120, 163, 198);
	float: right;
	margin-right: 145px;
}
#userName{
	float: right;
	margin: -70px -70px 0 0;
	}
/*#userImg {
	float: right;
	margin-right: -120px;
}
*/
#userImg img {
	padding-left: 10px;
}
#setting{
	margin: -20px -70px 0 0;
}
#setting,#logoff{
	cursor:pointer;
	float:right;
	}
#logoff{
	margin: -20px -130px 0 0;
}
#fristName{
	font-size:18px;
}
#lastName{
	margin-top: -20px;
}