.title{
	font-size: 18px;
	margin-left: -120px;
	color: rgb(35, 160, 216);
	}
.navLeft {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.75), 0 0 1px rgba(164, 164, 164, 1)
		inset;
	width: 200px;
	height: 600px;
	margin: 30px 0 0 -120px;
	line-height: 20px;
	padding-left: 25px;
	float: left;
	color: rgb(35, 160, 216);
	text-align:center;
}	
.click_down{
	float:right;
	width:16px;
	height:12px;
	margin-top:-5px;
	margin-left: 10px;
	background-image:url(../image/embeddown.png);
}

.click_up{
	float:right;
	width:16px;
	height:12px;
	margin-top:-5px;
	background-image:url(../image/embedup.png);
}

.categoryTitle{
	font-weight:bold;
}
.mediatitle1{
	padding-left:10px;
	font-size: 18px;
	padding-top: 10px;
	color: rgb(35, 160, 216);
}
.mediaGroup{
	margin-left:140px;
}
.descript span{
	color: rgb(35, 160, 216);
}

.action{
	float:right
}
.open,.right,.filter,.interface{
	width:23px;
	height:23px;
	float:right;
}
.open{
	background:url(../image/bluepen.png)
}
.right{
	background:url(../image/blueright.png);
}
.filter{
	background:url(../image/bluefilter.png);
}
.interface{
	background:url(../image/blueinterface.png);
}
.navigate{
	clear: both;
	height: 100px;
	width: 100px;
	float: right;
}
.navigate{
	margin-right: -140px;
	position:fixed;
	margin-left: 1250px;
	}
.navigate ul li {
	padding: 10px 220px 2px 1px;
	font-size: 18px;
	color: rgb(246, 252, 253);
	float: right;
	display: inline-block;
}

.navigate ul li a {
	font-size: 12px;
	color: rgb(102, 102, 102);
	text-decoration: none;
	float: left;
}	
.content a{
	text-decoration: underline;
	color: rgb(35, 160, 216);
}
.content{
	margin-left:10px;
}