
.progress {
	width: 130px;
	height:20px;
    border: none;  
    background-color: #e1e9eb;
	
    /*IE*/
}
.progress span{
	width: 120px;
	float:left;
	height:20px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcda58', endColorstr='#fb9008',gradientType=1);
}
/* progress style */
progress,progress[role] /* polyfill */ {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
	width: 130px;
	height: 20px;
}

progress[role]:after {
	background-image: none; /* removesdefault background from polyfill */
}

progress[role] strong {
	display: none;
}

/* change the progress backgroud */
progress, /* Firefox */ progress[role][aria-valuenow] { /* Polyfill */
	background: #e1e9eb;
}

progress::-webkit-progress-bar {
	background: #e1e9eb;
}

progress::-moz-progress-bar {
	background-image: -moz-linear-gradient(left, #bcda58, #fb9008);
}

progress::-webkit-progress-value {
	background-image: -webkit-linear-gradient(left, #bcda58, #fb9008)
}

progress[aria-valuenow]:before {
	background-image: -webkit-linear-gradient(left, #bcda58, #fb9008);
}

.progressRed::-moz-progress-bar {
	background-image: -moz-linear-gradient(left, #f08c8c, #bc0303);
}

.progressRed::-webkit-progress-value {
	background-image: -webkit-linear-gradient(left, #f08c8c, #bc0303);
}

.progressGreen::-webkit-progress-value {
	background-image: -webkit-linear-gradient(left, #a0ea85, #29b402);
}

.progressGreen::-moz-progress-bar {
	background-image: -moz-linear-gradient(left, #a0ea85, #29b402);
}
.progressInfor{
	margin-top:-18px;
	text-align: right;
    width: 130px;
}